@model Sklep_Internetowy.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="products-header">Stwórz</h1>

<div class="row">
    <div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group-container">
                <div class="form-group-secion">
                    <div class="form-section-inner">
                        @*<h1 class="inner-section-header">Dane podstawowe</h1>*@
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Nazwa</label>
                            <input asp-for="Name" class="form-control" />
                            @*<span asp-validation-for="Name" class="text-danger bottom-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label">Cena</label>
                            <input asp-for="Price" class="form-control" />
                            @*<span asp-validation-for="Price" class="text-danger bottom-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <div style="margin-right: 10px;">
                                <div class="form-creation-cateogories-container-label">
                                    <label asp-for="ProducerId" class="control-label"></label>
                                </div>
                                <a asp-controller="Producers" asp-action="Create" class="add-aditional-information" style="float: right">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                            <select asp-for="ProducerId" class="form-control" asp-items=@Model.Producers></select>
                            @*<span asp-validation-for="ProducerId" class="text-danger bottom-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Opis</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            @*<span asp-validation-for="Description" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <div style="margin-right: 10px;">
                                <div class="form-creation-cateogories-container-label">
                                    <label asp-for="CategoryId" class="control-label"></label><span id="num-of-selected-cat"></span>
                                </div>
                                <a asp-controller="ProductCategories" asp-action="Create" class="add-aditional-information" style="float: right">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                            <div class="form-creation-cateogories-container">
                                @foreach (var item in Model.Categories)
                                {
                                    string chckd = Model.CategoryId.Contains(item.Guid.ToString()) ? "checked='checked'" : string.Empty;
                                    <label class="category-selection-button" for="@item.Guid.ToString()">
                                        <input id="@item.Guid.ToString()" type="checkbox" name="CategoryId" value="@item.Guid.ToString()" @chckd />
                                        @item.Name
                                    </label>
                                }
                            </div>
                            @*<span asp-validation-for="CategoryId" class="text-danger bottom-danger"></span>*@
                        </div>
                        <div class="form-group">
                            @*<label for="AditionalInformations" class="control-label"> Informacje Dodatkowe </label>*@
                            <div class="aditional-informations-management-section">
                                <div style="margin-right: 10px;">
                                    <div class="form-creation-cateogories-container-label">
                                        <label class="control-label">Informacje</label>
                                    </div>
                                    <div style="margin-top: 10px;">
                                        <button type="button" class="add-aditional-information-btn" id="information-add">
                                            Dodaj
                                        </button>
                                        <button type="button" class="add-aditional-information-btn" id="information-remove">
                                            Usuń
                                        </button>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="aditional-information-container">

                                <div class="aditional-informations-inputs" id="inputs-container">
                                    @if(Model.AditionalInformations.Count() == 0)
                                    {
                                        <input type="text" name="AdidtionalInformations" class="form-control aditional-information-input" />
                                    }
                                    else
                                    {
                                        @foreach(var item in Model.AditionalInformations)
                                        {
                                            <input type="text" name="AdidtionalInformations" value="@item" class="form-control aditional-information-input" />
                                        }
                                    }

                                </div>
                                

                            </div>
                            @*<span asp-validation-for="AditionalInformations" class="text-danger"></span>*@
                        </div>
                    </div>
                </div>
                <div class="form-group-secion">
                    <div class="form-section-inner">
                        <h1 class="inner-section-header">Zdjęcia</h1>
                        <div class="form-group-non-flex">
                            <div>
                                <label for="Images" class="control-label"> Zdjęcia </label>
                                <input asp-for="Images" class="form-control" />
                            </div>
                            <div class="selected-images-container" id="selected-images">
                                <div class="owl-carousel owl-theme"></div>
                            </div>
                            @*<span asp-validation-for="Images" class="text-danger bottom-danger"></span>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="text-align: right">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Admin">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        const INPUTNAME = "@Html.DisplayNameFor(x => x.AditionalInformations)";
    </script>
    <script src="/js/addProduct.js" type="text/javascript"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
