@using Sklep_Internetowy.ViewModels;
@model Tuple<IEnumerable<Sklep_Internetowy.Models.Product>,List<int>,int>;

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <script type="text/javascript" src="~/js/confirmationWindow.js"></script>
}

<div class="panel-products-header">
    <div>
        <h1 class="products-header">Produkty</h1>
    </div>
    <div>
        <a asp-action="Create" asp-controller="Products" class="panel-product-create-new">
            <span class="panel-product-create-new-icon"><i class="fas fa-plus"></i></span>
            Utwórz nowy
        </a>
    </div>
</div>

<div class="panel-product-item-list">
@foreach (var item in Model.Item1) {
    <div class="panel-product-item">
        <div class="panel-product-item-name">
            @item.Name
        </div>
        <div class="panel-product-item-price">
            @item.Price.ToString("0.00")
        </div>
        <div class="panel-product-item-date">
            @item.ProductDetail.Creation_Date.ToString("d")
        </div>
        <div class="panel-product-item-operations">
            <div class="panel-button-list">
                <a class="panel-product-item-edit" asp-action="Edit" asp-route-id="@item.Guid.ToString()">
                    <i class="fas fa-pen"></i> 
                </a>
                <button class="panel-product-item-remove -confirmation-window" data-name="@item.Name" asp-action="Delete" asp-route-id="@item.Guid.ToString()"> 
                    <i class="fas fa-trash"></i>
                </button>
            </div>
            <div>
                <button class="panel-product-item-details" asp-action="Details" asp-route-id="@item.Guid.ToString()" disabled>
                    <span>Szczegóły</span> 
                </button>
            </div>
        </div>
    </div>
}
</div>
<div class="page-change-container">
    <div class="page-change-buttons">
        @if (Model.Item2.Count() > 1)
        {
            foreach (int i in Model.Item2)
            {
                <form style="display: inline-block">
                    @if (i == Model.Item3)
                    {
                        <button class="change-page-button current-page" name="Page" value="@i">@i</button>
                    }
                    else
                    {
                        <button class="change-page-button" name="Page" value="@i">@i</button>
                    }
                </form>
            }
        }
    </div>
</div>
