@using Sklep_Internetowy.Models;
@using Sklep_Internetowy.Controllers;
@using Sklep_Internetowy.ViewModels;

@section Scripts
{
    <script type="text/javascript" src="~/js/productTableManagement.js" /></script>
}

@model Tuple<IEnumerable<Product>,ManageProductListModel>;

<h1 class="products-header">Produkty</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<div class="products-section">
    <div class="product-filtering-container">
        <form methot="GET" id="filtering-form">
            <div class="category-filtering-container">
                <h4>Kategorie</h4>
                <div class="filtering-data-container">
                    @foreach(var item in Model.Item2.CategoriesList)
                    {
                        <div class="filtering-checkbox-container">
                            <input name="Categories" id="@item.Value" type="checkbox" value="@item.Value" checked="@item.Selected" />
                            <label for="@item.Value">@item.Text</label>
                        </div>
                    }
                </div>
            </div>
            <div class="filtering-section-divider"></div>
            <div class="producer-filtering-container">
                <h4>Producenci</h4>
                <div class="filtering-data-container">
                    @foreach(var item in Model.Item2.ProducersList)
                    {
                        <div class="filtering-checkbox-container">
                            <input name="Producers" id="@item.Value" type="checkbox" value="@item.Value" checked="@item.Selected" />
                            <label for="@item.Value" >@item.Text</label>
                        </div>
                    }
                </div>
            </div>
            <div class="filtering-section-divider"></div>
            <div class="producer-filtering-container">
                <h4>Cena</h4>
                <input id="product-max-price" type="range" min="@Model.Item2.InputRangeData.Min" max="@Model.Item2.InputRangeData.Max" step="0.01" value="@Model.Item2.InputRangeData.Current" name="MaxPrice" />
                <div class="max-price-labels">
                    <div class="max-price-label">
                        @Model.Item2.InputRangeData.Min.ToString("0.00")
                    </div>
                    <div class="max-price-label" id="current-price">
                    </div>
                </div>
            </div>
            <input type="hidden" name="SortOrder" id="sorting-order"/>
            <input type="hidden" name="SortBy" id="sort-by"/>
            <input type="hidden" name="Page" id="page-number" value="1"/>
            <div class="filtering-container-footer">
                <button class="apply-filtering" type="submit" id="apply-filtering">Filtruj</button>
            </div>
        </form>
    </div>
    <div class="products-container">
        <div class="sorting-container">
            <div>
                Sortuj po: 
                @Html.DropDownListFor(v => v.Item2.SortBy ,Model.Item2.SortProps, new {@class = "sort-by-select", id = "sort-by-select"})
                @Html.DropDownListFor(v => v.Item2.SortingOrder, Model.Item2.Order, new {@class = "sort-by-select", id = "sort-order"})
                <button id="apply-sorting" class="apply-sorting">
                    <i class="fas fa-check"></i>
                </button>
            </div>
        </div>
        @foreach (var item in Model.Item1) {
            string path = 
                (item.ProductDetail.Images.FirstOrDefault() == null) ? 
                    path = "placeholder.png" : 
                    path = $"{ViewData["ImagesPath"]}/{item.ProductDetail.Images.FirstOrDefault().Name}";

            
                <div class="product-row">
                    <div class="product-image-container">
                        <img src="@path" class="product-image"/>
                    </div>
                    <div class="product-details-container">
                        <div class="product-name">
                            <a asp-controller="ProductInfo" asp-action="Index" asp-route-id="@item.Guid" class="product-details-link">
                                @item.Name
                            </a>
                        </div>
                        <div class="product-details">
                            <div class="product-details-left">
                                <div class="product-producer">
                                    <span class="product-producer-label">Producent:</span>
                                    <span class="product-producer-name">@item.Producer.Name</span>
                                    </div>
                                <div class="product-categories">
                                    @if(item.Categories != null)
                                    {
                                        <div class="product-categories-label">Kategorie: </div>
                                        @foreach(var cat in item.Categories)
                                        {
                                            <span class="product-category">@cat.Name</span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="product-categories-label">Brak kategorii.</span>
                                    }
                                </div>
                            </div>
                            <div class="product-details-right">
                                <div class="product-rating-container">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="product-price">@item.Price.ToString("0.00")
                                    <span class="product-currency">PLN</span>
                                </div>
                                <button class="product-add-to-cart">Do koszyka</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        <div class="page-change-container">
            <div class="page-change-buttons">
                @if(Model.Item2.NumberOfPages.Count() > 1)
                {
                    foreach(int i in Model.Item2.NumberOfPages)
                    {
                        if(i == Model.Item2.PageNumber)
                        {
                            <button class="change-page-button current-page" value="@i">@i</button>   
                        }
                        else
                        {
                            <button class="change-page-button" value="@i">@i</button>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
