@using Microsoft.AspNetCore.Identity
@using Sklep_Internetowy.Models
@using Sklep_Internetowy.Models.Contexts;
@using Sklep_Internetowy.Repositories;
@using Sklep_Internetowy.Repositories.Interfaces;
@using Sklep_Internetowy.Extensions;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject ICartRepository CartRepo

@{
    AppUser? user = UserManager.GetUserAsync(User).Result;
    Cart? cart = null;
    if(user != null)
    {
        cart = CartRepo.GetUserCart(user ?? new AppUser());  
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sklep_Internetowy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib//owl-carousel/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/lib//owl-carousel/dist/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sklep_Internetowy.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav>
            <div class="nav-inner container">
                <div class="nav-title">
                    <a asp-action="Index" asp-controller="Home" style="text-decoration: none">
                        <span class="company-name">Sklep internetowy</span><br />
                        <span class="company-name-bottom">Wielobranżowy</span>
                    </a>
                </div>
                <div class="nav-navigation">
                    <div class="nav-navigation-buttons">

                    </div>
                    @if(SignInManager.IsSignedIn(User))
                    {
                        <div class="nav-user-management">
                            <div class="user-management-button">
                                <button class="user-management-about">
                                    @UserManager.GetUserAsync(User).Result?.FirstName
                                </button>
                                <form class="user-management-logout-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { controller = "Home" })" method="post">
                                    <button type="submit" class="user-management-logout">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="nav-user-management">
                            <a asp-area="Identity" class="nav-login-button" asp-page="/Account/Login">Zaloguj się</a>
                        </div>
                    }
                    <div class="nav-cart-button-container">
                        @Html.DisplayShoppingCartItemsNumber(cart)
                        <a class="nav-cart-button" asp-controller="ShoppingCart" asp-action="Index" >
                            <i class="fas fa-shopping-cart"></i>
                            <span class="nav-shopping-cart-description">Koszyk</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/owl-carousel/dist/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/8cb3256003.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
