@using Sklep_Internetowy.Extensions;
@using System.Globalization;


@model Sklep_Internetowy.Models.Product;

@section Scripts
{
    <script src="~/js/productDetail.js" type="text/javascript"></script>
}

@{
    int numOfOpinions = Model.Rating.Count();
}

<div class="details-product-container">
    <div class="details-product-data">
        <div class="details-product-left">
            <div class="owl-carousel owl-theme">
                @if(Model.ProductDetail.Images.Count() == 0)
                {
                    <div class="carousel-item-container">
                        <img src="~/placeholder.png" class="carousel-image"/>
                    </div>
                }
                else
                {
                    @foreach(var item in Model.ProductDetail.Images)
                    {
                        string path = $"{ViewData["ImagesPath"]}/{item.Name}";
                        <div class="carousel-item-container">
                            <img src="~/@path" class="carousel-image"/>
                        </div>
                    }
                }
                    
            </div>
        </div>
        <div class="details-product-right">
            <div class="details-product-header">
                <div>
                    <div class="details-product-name">@Model.Name</div>
                    <div class="details-product-producer">
                        <span class="fileld-label">
                            Producent: 
                        </span>
                        <span class="details-product-producer-text">
                            @Model.Producer.Name
                        </span>
                    </div>
                    <div class="details-product-producer">
                        <span class="fileld-label">
                            Kategorie: 
                        </span>
                        @foreach(var item in Model.Categories)
                        {
                            <span class="details-product-category">
                                @item.Name
                            </span>
                        }
                    </div>
                </div>
                <div>
                    <div class="product-rating-container details-rating" style="margin-right: 10px">
                        <span class="rating-label">Ocena: </span>
                        @Html.RenderRating(Model.GetRating())

                     </div>
                    <div class="details-product-price">
                        @Model.Price.ToString("0.00") <span class="details-product-currency"> zł</span>
                     </div>
                </div>
            </div>
                
            <div class="details-product-desc">
                <div class="details-product-desc-left">
                    <div class="fileld-label">
                       <span class="text-bold">Informacje:</span> 
                    </div>
                    <div class="details-product-desc-text">
                        <ul>
                            @foreach(var text in Model.ProductDetail.Information)
                            {
                                <li>@text</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="product-desc-divider"></div>
                <div class="details-product-desc-right">
                    <div class="fileld-label">
                        <span class="text-bold">Opis:</span>
                    </div>
                    <div class="details-product-desc-text">
                        @Model.ProductDetail.Description
                    </div>
                </div>
            </div>
            <div class="details-product-footer">
                <select class="product-number">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button class="product-add-to-cart details-add-button">Dodaj do koszyka</button>
            </div>
        </div>
    </div>
    <div class="details-product-user-ratings">
        <div class="user-rating-container">
            <div class="user-rating-chart-container">
                <h3 class="user-opitnion-header">Średnie oceny produku</h3>
                <div class="rating-chart-container">
                    <div class="user-rating-left-box">
                        <div class="rating-star">
                            @Html.GetRatingRepresentativeStar(Model.GetRating())
                        </div>
                        <div class="rating-star-desc">
                            <span class="rating-current-rating">@Model.GetRating().ToString("0.0")</span>
                            <span class="rating-max-rating">/ 5</span>
                        </div>
                        <div class="rating-opinion-count">
                              ( @numOfOpinions ) Ocen
                        </div>
                    </div>
                    <div class="user-rating-chart">
                        @for(int i = 5; i >= 1; i--)
                        {
                            int opinionCount = Model.Rating.Where(r => r.Rating == i).Count();
                            <div class="rating-bar-data">
                                <div class="star-count"><i class='fas fa-star'></i> @i</div>
                                @Html.GenerateChartBar(opinionCount,numOfOpinions)
                                <div class="chart-opinion-count"> @opinionCount </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="user-add-opinion-section">
                <h3 class="user-opitnion-header">Dodaj opinię</h3>
                <form method="POST" asp-controller="ProductInfo" asp-action="AddOpinion">
                    <div class="add-opinion-container">
                        <textarea name="Text" class="add-opinion-text" required></textarea>
                        <div class="add-opinion-footer">
                            <div class="add-opinion-input-stars">
                                <div class="input-starts-label">
                                    Twoja ocena: 
                                </div>
                                <button class="input-star" data-value="1"><i class='far fa-star'></i></button>
                                <button class="input-star" data-value="2"><i class='far fa-star'></i></button>
                                <button class="input-star" data-value="3"><i class='far fa-star'></i></button>
                                <button class="input-star" data-value="4"><i class='far fa-star'></i></button>
                                <button class="input-star" data-value="5"><i class='far fa-star'></i></button>
                            </div>
                            <input type="hidden" value="0" id="product-rating" name="Rating"/>
                            <input type="hidden" value="@Model.Guid.ToString()" name="Id" />
                            <button type="submit" class="add-opinion-submit-button">Dodaj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="user-opitnion-list-container">
            <h3 class="user-opitnion-header">Opinie naszych klientów: (@Model.Rating.Count()) </h3>
            <div class="user-opinions-list">
                @foreach(var opinion in Model.Rating)
                {
                    <div class="user-opinion-container">
                        <div class="opinion-left-box">
                            <div class="opinion-username"><i class="fas fa-user"></i> Maciek </div>
                            <div class="opinion-rating"> @Html.RenderRating(opinion.Rating) </div>
                            <div class="opinion-date"> @opinion.CreationDate.ToString("d MMMM yyyy",CultureInfo.GetCultureInfo("pl")) </div>
                        </div>
                        <div class="opinion-right-box">
                            <div class="opinion-text">
                                <span> @opinion.Description </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>