@using Sklep_Internetowy.Extensions;


@model Sklep_Internetowy.Models.Product;

@section Scripts
{
    <script src="~/js/productDetail.js" type="text/javascript"></script>
}

<div class="details-product-container">
    <div class="details-product-data">
        <div class="details-product-left">
            <div class="owl-carousel owl-theme">
                @if(Model.ProductDetail.Images.Count() == 0)
                {
                    <div class="carousel-item-container">
                        <img src="~/placeholder.png" class="carousel-image"/>
                    </div>
                }
                else
                {
                    @foreach(var item in Model.ProductDetail.Images)
                    {
                        string path = $"{ViewData["ImagesPath"]}/{item.Name}";
                        <div class="carousel-item-container">
                            <img src="~/@path" class="carousel-image"/>
                        </div>
                    }
                }
                    
            </div>
        </div>
        <div class="details-product-right">
            <div class="details-product-header">
                <div>
                    <div class="details-product-name">@Model.Name</div>
                    <div class="details-product-producer">
                        <span class="fileld-label">
                            Producent: 
                        </span>
                        <span class="details-product-producer-text">
                            @Model.Producer.Name
                        </span>
                    </div>
                    <div class="details-product-producer">
                        <span class="fileld-label">
                            Kategorie: 
                        </span>
                        @foreach(var item in Model.Categories)
                        {
                            <a asp-controller="home" asp-action="index" asp-
                            <span class="details-product-category">
                                @item.Name
                            </span>
                        }
                    </div>
                   @* <div>
                        @foreach(var item in Model.Categories)
                        {
                            <span class="details-product-category">
                                @item.Name
                            </span>
                        }
                    </div>*@
                </div>
                <div>
                    <div class="product-rating-container details-rating" style="margin-right: 10px">
                        <span class="rating-label">Ocena: </span>
                        @Html.RenderRating(Model.GetRating())

                     </div>
                    <div class="details-product-price">
                        @Model.Price.ToString("0.00") <span class="details-product-currency"> zł</span>
                     </div>
                </div>
            </div>
                
            <div class="details-product-desc">
                <div class="details-product-desc-left">
                    <div class="fileld-label">
                       <span class="text-bold">Informacje:</span> 
                    </div>
                    <div class="details-product-desc-text">
                        - Hp DEskjet 250 <br/>
                        - W zestawie 2 kardriże <br/>
                        - Niski pobór prądbu <br/>
                        - Szybkość drukowania 100 str / min <br />
                    </div>
                </div>
                <div class="product-desc-divider"></div>
                <div class="details-product-desc-right">
                    <div class="fileld-label">
                        <span class="text-bold">Opis:</span>
                    </div>
                    <div class="details-product-desc-text">
                        @Model.ProductDetail.Description
                    </div>
                </div>
            </div>
            <div class="details-product-footer">
                <select class="product-number">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button class="product-add-to-cart details-add-button">Dodaj do koszyka</button>
            </div>
        </div>
    </div>
</div>